body {
background-color: rgba(57, 57, 245, 0.733);
/* background-image: url(https://img.quizur.com/f/img607731412d2e66.97858081.png?lastEdited=1618424138) */
font-family: Arial, Helvetica, sans-serif;
font-size: 1rem;
}
 
header {
  color: #ffff;
text-align: center;
text-shadow: 1px 1px 1px black;
}

section {

  background-color: #f7f7f7;
  border-radius: 04px;
  padding: 10px;
  width: 450px;
  margin: auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.300);
  
}

footer {
  
  color: #ffff;
 text-align: center;
 font-style: italic;
}

footer a {
  text-decoration: none;
  color: #fff
 }

 footer a:hover{
  text-decoration: underline;
   }

   div {
    text-align: center;
    
   }